body{
    font-family: Arial;
}
.title{
    font-family: 'Times New Roman';
    border-color: red;
    border-width: 3px;
    border-style: dashed;
    margin: auto;
    width: 60%; 
    padding: 10px;
}

.top-navbar {
    padding: 0.5em;
    text-align: center;
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
    background: #009dc4;
}

.top-navbar.your-site-fixed {
    border-bottom: none;
    z-index: 4;
}

.top-navbar .your-site {
    color: white;
    font-weight: 400;
    font-size: 120%;
}

.top-navbar .top-home a{
    color: pink;
}

.top-navbar a {
    color: white;
}

.top-navbar li a:hover,
.top-navbar li a:focus {
    background: none;
    border: none;
    color: #AECFE5;
}

.top-navbar li a{
    display: block;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: wavy;
}

li{
    float: left;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.contact{
    border-color: black;
    background-color: grey;
    text-align: center;
}